        * {
        font-family: Arial, Verdana, sans-serif;
        color: rgb(0, 100, 250);
        box-sizing: border-box;}
        
        header h1 {
        color: rgb(217, 255, 0); }

        article h3 {
        text-align: center;}

        article img {
        max-width: 100%;
        height:auto;}

        nav, #feature, footer {
        margin: 1%; }

        nav li {
        display: inline;
		padding: 0.5em;
        color: yellow;}
